@import url('./fonts.css');
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,600&display=swap');


header {
   width: auto;
   margin-right: 0;
   padding-right: 0;
} 

main {
   display: grid;
   justify-content: center;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   justify-content: center;

}

.content {
   max-width: 130vw;
   margin: 0 auto;
   padding: 0 15px;
   justify-content: center;
}


.header-left {
   background-color: #282828;
   display: grid;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.header-right {
   padding-bottom: 0px;
   max-width: 50vw;
}

.header-titles {
   /* height: 10%; */
   /* display: flex; */
   /* justify-content: flex-end;
   align-items: flex-start; */
   /* white-space: nowrap;*/
   text-align: center;
   /* text-align-last: center;   */
   margin-top: 5vh;
   /* transform: rotate(-90deg); */
}

.header-title {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 800;
   font-size: calc(25px + (20 + 20 * 0.7) * ((100vw - 320px) / 1280));
   color:rgb(255, 255, 255);
   margin-bottom: 20px;
}

.header-title-prof {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
   color: #FFFFFF;
   padding-top: 10vh;

}

.titles-contacts {
   display: flex;
   align-items: flex-start;
   margin: auto;

}

.titles-contacts>ul {
   margin: 0px;
   padding: 0px;
   white-space: nowrap;
}

.titles-contacts>ul>li>a {
   display: flex;
   align-items: center;
   margin-bottom: 20px;


}

.titles-contacts>ul>li>a>img {
   width: 30px;
   height: 30px;
}

.titles-contacts>ul>li {
   transition: .3s ease-in-out;
   opacity: 1;
}

.titles-contacts>ul>li:hover {
   opacity: .6;
}

.contact {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: calc(8px + (6 + 6 * 0.7) * ((100vw - 320px) / 1280));
   line-height: normal;

   color: #FFFFFF;
   margin-left: 10px;


}


.header-img {
   position: relative;

   margin-top: auto;
   width: 100%;
   height: auto;

   border-radius: 0px 0px 10px 0px;
   box-shadow: 0px 27px 76px -40px rgba(34, 60, 80, 0.34);

   object-fit: cover;


}

.img-titles {
   margin: 4vh 0vw 4vh 2vh;
   display: block;

   max-width: 40vw;

}

.img-title {
   text-align: center;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: calc(16px + (10 + 10 * 0.7) * ((100vw - 320px) / 1280));
   line-height: normal;
   margin-bottom: 10px;
   color: #000000;
}

.img-subtitle {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: calc(10px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
   line-height: normal;
   text-align: justify;
   text-align-last: center;
   color: #878787;


} 

.main-content {
   display: flex;
   flex-wrap: nowrap;
   margin: 7vh 0 50px;
   padding-top: 40px;

}

.main-left {
   max-width: 560px;
   border-right: 2px solid #D9D9D9;
   height: auto;
   margin-left: 10px;
} 



.section-titles:nth-child(1) {
   margin-bottom: 55px;
   /* max-width: 50vw; */
   max-width: 560px;
   min-width: 25vw;
   height: 20vh;

}

.titles {
   display: flex;
   flex-direction: column;
   justify-content: left;

}

.section-title {
  
   text-align: center;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: calc(14px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
   line-height: normal;

   /* letter-spacing: 0.4em; */

   color: #000000;

   margin-bottom: 30px;
   
} 

.section-language {
   padding: 3vh;
}
 
.section-subtitles {
   display: flex;
   justify-content:left;
   margin-bottom: 35px;
   vertical-align: top;
   flex-direction: row;
}

.subtitle-year {
   
   width: 100%;
   max-width: 125px;
   min-width: 100px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: calc(14px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
   line-height: normal;
   color: #878787;
   margin-bottom: 15px;
}

.subtitle-name {
   text-align: left;
   margin: 0 15px;
   vertical-align: top;
   max-width: 420px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: normal;

   color: #000000;

} 


.subtitle-name > h2 {
   margin-bottom: 10px;
   text-align: left;
}
.subtitle-text {
   text-align: left;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: normal;
   
} 

.subtitle-language {
   margin-left: 20px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));;
   font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
   color: #000000;
}


.subtitle-language span {
   font-weight: 400;
   font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
   line-height: normal;
   color: #878787;

}



.main-right {
   max-width: 560px;
   margin-left: 10vw;
   height: auto;
}

.skill-subtitles {
   display: flex;
   justify-content: space-between;
   align-items: center;


}

.subtitle-skill {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));

   color:rgba(0, 0, 0, 0.6);
   margin-right: 20px;

}

.subtitle-skill span {
   font-weight: 600;
   color:rgb(0, 0, 0);
}




.section-skills {
   margin-bottom: 50px;
} 

 @media (min-width: 1201px) {
   .subtitle-year {
      
      font-size: 24px;
      
   }

   .subtitle-name {
      font-size: 28px;
   }
}

@media (min-width: 320px) and (max-width: 860px) {


   .main-content {
      display: grid;
      justify-content: center;
      
      margin: 0px auto;
      padding: 20px; /* Добавлено для улучшения отступов */
   }




   .main-left {
      display: flex;
      justify-content: center;
      border-right: 0;
      border-bottom: 2px solid #D9D9D9;
      max-width: 100vw;
      height: auto;
      margin: 20px 0; /* Изменено для улучшения отступов */
   }

 

   .section-titles:nth-child(1) {
      margin-bottom: 60px;

   }

   .titles {
      text-align: center;

   }

   .section-title {
      justify-content: center;
      font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
      margin-bottom: 25px;
   }

   .section-subtitles {
      text-align: left;
      margin-bottom: 20px;
   }

   .subtitle-year {
      margin-right: 10px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: calc(14px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
      line-height: normal;

      color: #878787;
      margin-bottom: 15px;
      
   }

   .subtitle-name {
      text-align: center;
      margin: 0 10px; /* Изменено для улучшения отступов */
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
      line-height: normal;

      color: #000000;

   }

   .subtitle-text {
      max-width: 160px;
      line-height: 20px;
      font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
   }

   .subtitle-language {
      margin-left: 20px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
      line-height: normal;

      color: #000000;
      margin: 0;

   }

   .subtitle-language span {
      font-weight: 400;
      font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
      line-height: normal;

      color: #878787;

   }

   .subtitle-text {
      font-size: calc(14px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
   }

   .main-right {
      max-width: 560px;
      margin-left: 100px;
      height: auto;
   }

   .skill-subtitles {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: center;


   }

   .subtitle-skill {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
      line-height: normal;
      color: #000000;
      margin-right: 20px;

   }
   .subtitle-skill span {
      font-weight: 600;
   }


   .main-right {
      max-width: 560px;
      margin: 20px auto;

   }

   .footer {
      display: flex;
      justify-content: center;
   }

   .footer-text {

      font-size: 20px;
   }

}


.footer {
   margin-top: 50px;
   padding: 120px 0;
   background-color: #b8b8b8a4;
   text-align: center;
}

.footer-text {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 800;
   font-size: 30px;
   padding: 60px 0;
   color: #00000071;

}



@media (min-width: 320px) and (max-width: 860px) {
     

   footer {
      display: flex;
      justify-content: center;
   }

   .footer-text {

      font-size: 20px;
   }

}


:root {
   --swiper-theme-color: #00000071;
 }

swiper-container {
   margin-top: 100px;
   /* padding-top: 2vh; */
   width: 90%;
   height: auto;
   box-shadow: 0px 0px 100px -10px rgba(80, 75, 34, 0.3);
   border-radius: 10px;
 }

 swiper-slide {
   
   text-align: center;
   font-size: 18px;
   background: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 swiper-slide img {
   
   margin: 3px;
   display: block;
   width: 100%;
   height: 100%;
   border-radius: 8px;
   
   object-fit:contain;
 }




@media (max-width: 860px) {
   swiper-container {
      width: 90%;
   }

   swiper-slide img {
      width: 100%;
   }
}